@font-face {
    font-family: 'Atkinson';
    src: url(./font/Atkinson-Hyperlegible-Regular-102.svg) format('svg');
}

body{
    font-family: "Atkinson", sans-serif;
}

.header{
    height: 80px;
    background-color: #F9FAFB;
    margin-bottom: 20px;
    
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    background-color: #F2F0EF;
    border-radius: 20px 20px 0px 0px;
}

.navItems{
    display: flex;
    flex-direction: start;
    align-items: center;
    justify-content: flex-end;
    gap : 50px;
    padding-right: 20px;
}

.hyperlink{
    text-decoration: none;
    color:black;
}

.hyperlinkButton {
    background-color: black;
    cursor: pointer;
    a{
        text-decoration: none;
        color: white;
        font-weight: 700;
    }
}

button{
    height: 40px;
    border-radius:50px;
    background-color: aqua;
    border: none;
    padding: 1px 15px;
}



.logo{
    height: 50px;
    padding-bottom: 10px;
    padding-left: 5px;
}




h1 {
    text-align: center;
}

#searchInput,
#subjectFilter {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.note {
    margin: 10px 0; 
    padding: 15px; 
    border: 1px solid #ddd; 
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
}
.note:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.note a { 
    color: #0073e6; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 18px; 
    display: block;
    margin-bottom: 10px;
}
.note p {
    color: #555;
    font-size: 14px;
    margin: 0;
}
.filter-label { 
    font-weight: bold; 
    margin-right: 10px;
}