@font-face {
    font-family: 'Atkinson';
    src: url(./font/Atkinson-Hyperlegible-Regular-102.svg) format('svg');
}

body{
    font-family: "Atkinson", sans-serif;
}

.header{
    height: 80px;
    background-color: #F9FAFB;
    
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    background-color: #F2F0EF;
    border-radius: 20px 20px 0px 0px;
}

.navItems{
    display: flex;
    flex-direction: start;
    align-items: center;
    justify-content: flex-end;
    gap : 50px;
    padding-right: 20px;
}

.hyperlink{
    text-decoration: none;
    color:black;
}

.hyperlinkButton {
    background-color: black;
    cursor: pointer;
    a{
        text-decoration: none;
        color: white;
        font-weight: 700;
    }
}

button{
    height: 40px;
    border-radius:50px;
    background-color: aqua;
    border: none;
    padding: 1px 15px;
}



.logo{
    height: 50px;
    padding-bottom: 10px;
    padding-left: 5px;
}






.content{
    display: flex;
    height : calc(100vh - 80px);
    margin-top: 3px;
}

.contentLeft{
    height : calc(100vh - 80px);
    width: 30vw;
    padding-top:10vh;
    padding-left: 20px;
    margin-left: 10%;
    margin-top: 5%;

}

.contentLeftButton{
    width: 40vw;
    display:flex;
    align-items: center;
    gap: 10px;
    /*padding-left: 15%;*/
    
    
}

.contentHeading{
    font-size: 24px;
    color:#4042e2;
    
}
.knowledge{
    color: #1a0f91;
    font-family: 'Kanit' ,sans-serif;
    font-weight: 700;
}
.learning{
    color: #1a0f91;
    font-family: 'Kanit' ,sans-serif;
    font-weight: 700;
}

.contentSubHeading{
    color: #CBCBCB;
}


.contentRight{
    height : calc(100vh - 80px);
    width: 100vw;
    background-image: url(./study.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    
    

}
.testing{
    display: inline-block;
    padding: 10px 30px; /* Controls the size of the button */
    font-size: 16px; /* Adjust text size */
    color: white; /* Text color */
    background-color: #4042e2; /* Background color */
    border: none; /* Remove default border */
    border-radius: 50px; /* Large radius for ellipse shape */
    cursor: pointer;
    text-align: center;
    a{
        text-decoration: none;
        color:white;
        font-weight: bold;
    }
    
}
button:hover{
    background-color: #7d97f4;
    transition: background-color 3s ease;
}



  
.footer{
    height : 30vh;
    background-color: #F2F0EF;
    margin-top: 2px;
    border-radius: 0px 0px 20px 20px;
}
